name: Build & Deploy Auth Service

on:
  push:
    branches:
      - develop
      - main
      - feat/ci-cd
  pull_request:
    branches:
      - develop
      - main
  workflow_dispatch:

jobs:
  build:
    name: Build & Push Docker Image
    runs-on: ubuntu-latest

    env:
      IMAGE_NAME: ghcr.io/${{ github.repository }}/auth-service

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & Push Docker Image
        uses: docker/build-push-action@v6
        with:
          context: ./backend/auth-service
          file: ./backend/auth-service/Dockerfile
          push: true
          tags: |
            ${{ env.IMAGE_NAME }}:${{ github.sha }}
            ${{ env.IMAGE_NAME }}:latest

  deploy:
    name: Deploy to Kubernetes
    needs: build
    # Prevents deployment on pull requests
    if: github.event_name != 'pull_request'

    uses: ./.github/workflows/deploy-to-k8s.yml
    with:
      service-name: 'auth-service'
      k8s-manifests-path: 'k8s/auth-service'
      namespace-staging: 'shopifake-staging'
      namespace-production: 'shopifake-prod'
      deployments: 'auth-service'
    secrets:
      KUBECONFIG_BASE64: ${{ secrets.KUBECONFIG_BASE64 }}
